@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", serif;
   color: #243e63;
}

.menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 } 

 .menu__list {
   font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

 .menu__list--primary {
   margin: 0;
   padding: 10px 32px;
   margin-top: 2px;
   border-radius: 9999px;
   background: #6415ff;
   color: #fff;
   line-height: 1.5;
   border: none;
   width: auto;
   transition: all 300ms;
}

a {
   display: inline;
   text-decoration: none;
}

 .img__logo {
    display: flex;
 }
 
 .logo {
    width: 20px;
 }

 .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0n auto;
 }

 .nav__list {
    width: 70%;
 }

 li {
    text-decoration: none;
 }

 a {
    text-decoration: none;
    color: black;
 }

 .header__decription {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 h1 {
   font-size: 48px;
   color: #11202c;
   line-height: 1.25;
 }
 .header__decription--para {
   margin: 32px 0;
 }

 p {
   font-size: 18px;
   line-height: 1.5;
 }


 .header__customers {
    width: 100%;
 }

 .header__email {
      width: 100%;
      max-width: 448px;
      height: 68px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
 }

 .header__email--input {
   width: 100%;
   border-radius: 500px;
   padding: 20px 192px 20px 32px;
   color: rgb(36, 62, 99);
   font-size: 16px;
   font-weight: 500;
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 1;
   transition: 300ms;
 }

 .header__email--btn {
   z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
 }

 button {
   cursor: pointer;
   border: none;
 }