.nav__list

.menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 } 

 .img__logo {
    display: flex;
 }
 
 .logo {
    width: 20px;
 }

 .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav__list {
    width: 70%;
 }

 li {
    text-decoration: none;
 }

 a {
    text-decoration: none;
    color: black;
 }